<!-- <mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav mode="side" (keydown.escape)="close('escape')" disableClose>
        <button mat-button (click)="close('escape')">Close</button>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="button-row">
        <p>
          <button mat-button (click)="sidenav.open()">Open</button>
        </p>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<main>
  <header class="title">
    <h1 class="mat-display-1">Pomodoro Timer</h1>
  </header>
  <section class="timer-container">
      <app-timer></app-timer>
  </section>
</main>

